body {
    background: linear-gradient(to right, #2b2828, #4e4c4c);
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.contact-container {
    background: #2b2828;
    padding: 35px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
.text-center h2 {
    color: #ccc;
}
.form-label {
    color: #f39c12;
    font-weight: 600;
}

.form-control, .form-control:focus {
    background-color: #fff;
    border: none;
    color: #fff;
    box-shadow: none;
}

.btn-send {
    background-color: #f39c12;
    border: none;
    color: #1d1e33;
    font-weight: bold;
    padding: 10px ;
    transition: background 0.3s ease;
}

.btn-send:hover {
    background-color: #4e4c4c;
    color:#f39c12;
}

.contact-info i {
    /* color: #f39c12; */
    margin-right: 10px;
}

.social-icons a {
    color: #f39c12;
    margin-right: 15px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #4e4c4c;
}

.contact-heading {
    font-size: 2.5rem;
    color: #f39c12;
}

@media (max-width: 768px) {
    .contact-heading {
        font-size: 2rem;
    }

    .contact-container {
        padding: 25px;
    }

    .btn-send {
        width: 100%;
    }
}



.footer {
    background: #111;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: 'Segoe UI', sans-serif;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}
.footer-about, .footer-links, .footer-contact, .footer-social {
    flex: 1 1 220px;
    min-width: 200px;
}
.footer h2{
    color: #f39c12;
    margin-bottom: 15px;
}
.footer h3 {
    color: #fff;
    margin-bottom: 15px;
}
.footer p, .footer ul, .footer a {
    color: #ccc;
    font-size: 14px;
    line-height: 1.6;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer-social a {
    color: #ccc;
    font-size: 18px;
    margin-right: 10px;
    transition: color 0.3s ease;
}
.footer-social a:hover {
    color: #f39c12;
}
.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #333;
    font-size: 13px;
    color: #999;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-social {
        justify-content: center;
    }
}