body {
    background: linear-gradient(to right, #2b2828, #4e4c4c);
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.contact-container {
    background: #2b2828;
    padding: 35px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
.text-center h2 {
    color: #ccc;
}
.form-label {
    color: #f39c12;
    font-weight: 600;
}

.form-control, .form-control:focus {
    background-color: #fff;
    border: none;
    color: #fff;
    box-shadow: none;
}

.btn-send {
    background-color: #f39c12;
    border: none;
    color: #1d1e33;
    font-weight: bold;
    padding: 10px ;
    transition: background 0.3s ease;
}

.btn-send:hover {
    background-color: #4e4c4c;
    color:#f39c12;
}

.contact-info i {
    /* color: #f39c12; */
    margin-right: 10px;
}

.social-icons a {
    color: #f39c12;
    margin-right: 15px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #4e4c4c;
}

.contact-heading {
    font-size: 2.5rem;
    color: #f39c12;
}

@media (max-width: 768px) {
    .contact-heading {
        font-size: 2rem;
    }

    .contact-container {
        padding: 25px;
    }

    .btn-send {
        width: 100%;
    }
}