<!-- arthome.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>



    <title>ArtBhavan</title>
    
    
</head>
<body>  
    <!-- Top Loading Bar -->
<div id="loading-bar"></div>




     <!-- Fixed Navbar -->
    <nav class="nav">
        <div><strong style="margin-left: 70px; font-size: 1.5rem;" title="ArtBhavan">ArtBhavan</strong></div>
        <div>
            <a href="{% url 'about' %}">About</a>
            <!-- <a href="#gallery">Gallery</a> -->
            <a href="{% url 'contact' %}" >Contact</a>
            
        </div>
    </nav>
       



    <!-- Sub-Navbar -->
    <div class="sub-nav">
        <div class="nav-links">
            <a href="{% url 'collection' %}">Collection</a>
            <a href="#new">New</a>

            <!-- Categories Dropdown -->
            <div class="dropdown">
                <a href="#" class="dropbtn">Categories <i class="fa fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a href="{% url 'collection' %}?category=Sketches">Sketches</a>
                    <a href="{% url 'collection' %}?category=Portraits">Portraits</a>
                    <a href="{% url 'collection' %}?category=Oil Paintings">Oil Paintings</a>
                    <!-- <a href="#watercolors">Watercolors</a> -->
                    <a href="{% url 'collection' %}?category=Digital Art">Digital Art</a>
                </div>
            </div>
        </div>

        <!-- Search Bar -->
        <!-- <div class="search-container">
            <input type="text" class="search-bar" placeholder="Search for artworks...">
            <i class="fa fa-search search-icon"></i>
        </div> -->
        <div class="logd">
            <a  class="login-btn" style=" color: #222; text-decoration: none;" >Login</a>
            <div class="logd-content">
              <a href="{% url 'login' %}">Login</a>
              <a href="{% url 'signup' %}">Sign Up</a>
            </div>
          </div>
    </div>

    <!-- Main Content -->
    <section>
        <div class="container">
            <div class="text-content">
                <h1 style="margin-left: 50px;">Welcome to ArtBhavan</h1>
                <p style="margin-left: 50px;">Explore a collection of handpicked artwork .Your destination for exquisite artworks and handmade collections. Discover creativity at its finest.<br> Own a masterpiece today!</p>
                <a href="{% url 'collection' %}">
                <button class="btn" style="margin-left: 50px;" title="Explore The Artworks">Explore Art</button>
                </a>
            </div>

            <!-- Carousel -->
            <div class="illustration">
                <div id="artCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'image/536720.jpeg' %}" class="d-block w-100" alt="Art 1" title="Yardly">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Yardly</h5>
                        </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'image/manwithbook.jpeg' %}" class="d-block w-100" alt="Art 2" title="Man with a Book">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Man with a Book</h5>
                        </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'image/street.jpeg' %}" class="d-block w-100" alt="Art 3"   title="Empty Street">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Empty Street</h5>
                        </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'image/boat.jpeg' %}" class="d-block w-100" alt="Art 4" title="Boat">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Boat </h5>
                        </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'image/download13.jpeg' %}" class="d-block w-100" alt="Art 5" title="Dune">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Dune</h5>
                        </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'image/sky.jpeg' %}" class="d-block w-100" alt="Art 6" title="Sky">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Sky</h5>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
          
    </section>


    
    
</body>
</html>